<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>{% block title %} Electronics Commerce {% endblock %}</title>
    <style type="text/css">
        .min-h-100 {
            min-height: 100%;
        }
        a:hover{
            text-decoration: none;
        }

    </style>
</head>

<body>
    <div class="row no-gutters fixed-top" style="background-color: #5DD0FB;">
        <div id="header" class="col-md-12 ">
                        <h2>
                        {% block header %} Electronic Commerce {% endblock %}
                        </h2>
        </div>
    </div>
    <div class="main" style="margin-top:62.17px;">
        <div class="row no-gutters">
            <div id="sidebar" class=" bg-dark   col-md-2">
                {% block sidebar %}

                {% endblock %}
            </div>
            <div id="content" class=" bg-light  col-md-10">

                {% block content %}

                {% endblock %}
            </div>
        </div>
        <div class="row no-gutters">
            <div id="footer" class="col-md-12">
                {% block footer %}

                {% endblock %}
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script defer="" src="https://static.cloudflareinsights.com/beacon.min.js"
        data-cf-beacon="{&quot;si&quot;:10,&quot;version&quot;:&quot;2021.2.0&quot;,&quot;rayId&quot;:&quot;62b124961c9706f1&quot;}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
          setTimeout(function(){
            if ($('#msg').length > 0){
              $('#msg').remove();
            }
          }, 1500)

           $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
</body>

</html>