<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>{% block title %} Electronics Commerce {% endblock %}</title>
    <style type="text/css">
        .min-h-100 { min-height: 100%; }
    </style>
</head>
<body>
    <div class="row">
        <div id="header" class="bg-info col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                
                 <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2>
                        {% block header %} Electronic Commerce {% endblock %}
                     </h2>
                 </div>
                    
             </div>
         </div>
    </div>
    <div class="row">
        <div id="sidebar" class="min-h-100 min-h-800 bg-light border col-sm-2col-md-2 col-lg-2">
            {% block sidebar %}
    
            {% endblock %}
         </div>
        <div id="content" class="min-h-100 bg-light col-sm-10 col-md-10 col-lg-10">
        {% block content %}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div id="footer" class="col-md-12">
            {% block footer %}

            {% endblock %}
        </div>
    </div>
</body>
</html>